<?php
{{%FILTERS}}
class {{className}} extends Seeder {

    /**
     * Run seed
     * @return void
     */
    public function run()
    {
        DB::table('{{model | string.snake | string.plural}}')->truncate();

        ${{model | string.camel | string.plural}} = array(

        );

        DB::table('{{model | string.snake | string.plural}}')->insert(${{model | string.camel | string.plural}});
    }

}